[submodule "nanoclaw"]
	path = nanoclaw
	url = https://github.com/qwibitai/nanoclaw.git
[submodule "zeroclaw"]
	path = zeroclaw
	url = https://github.com/zeroclaw-labs/zeroclaw.git
[submodule "openclaw"]
	path = openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "ironclaw"]
	path = ironclaw
	url = https://github.com/nearai/ironclaw.git
[submodule "goclaw"]
	path = goclaw
	url = https://github.com/nextlevelbuilder/goclaw.git
[submodule "nanobot"]
	path = nanobot
	url = https://github.com/HKUDS/nanobot.git
[submodule "clawteam"]
	path = clawteam
	url = https://github.com/win4r/ClawTeam-OpenClaw.git
[submodule "maxclaw"]
	path = maxclaw
	url = https://github.com/Lichas/maxclaw.git
[submodule "hiclaw"]
	path = hiclaw
	url = https://github.com/agentscope-ai/HiClaw.git
[submodule "rtl-claw"]
	path = rtl-claw
	url = https://github.com/TONGJI-EDA-LAB/RTL-CLAW.git
[submodule "quantumclaw"]
	path = quantumclaw
	url = https://github.com/QuantumClaw/QClaw.git
[submodule "claw-ai-lab"]
	path = claw-ai-lab
	url = https://github.com/Claw-AI-Lab/Claw-AI-Lab.git
[submodule "hermes-agent"]
	path = hermes-agent
	url = https://github.com/NousResearch/hermes-agent.git
